@media (max-width:930px) {
    .background {
        width: 185px;
        height: 375px;
    }
    .main {
        flex-direction: column;
    }
    .dashboard {
        order: 2;
    }
    .computer {
        margin-bottom: 15%;
    }
    .navbar {
        padding-right: 0%;
    }
    .navbar-collapse {
        top: 80px !important;
        position:absolute;
        text-align: center;
        background-color: white;
        width: 90%;
        padding: 3% 0;
        box-shadow: 5px 5px 15px 5px #949494;
        border-radius: 3px;
    }
    .navbar-toggler {
        border: none;
    }
    .navbar-toggler:focus,
    .navbar-toggler:active {
        outline: 0;
    }
    .spot {
        height: 1px;
        width: 90%;
        border-radius: 0;
    }
    .text-wrapper h2:last-of-type {
        font-size: 0.8rem;
    }
    .text-wrapper h1 {
        font-size: 2.5rem;
    }
}