@media (max-width:930px) {
    .main {
        flex-direction: column;
    }
    .dashboard {
        order: 2;
    }
    .computer {
        margin-bottom: 15%;
    }
    .navbar {
        padding-right: 0%;
    }
    .navbar-collapse {
        top: 80px !important;
        position:absolute;
        text-align: center;
        background-color: white;
        width: 90%;
        padding: 3% 0;
    }
    .spot {
        height: 1px;
        width: 90%;
        border-radius: 0;
}