* {
    box-sizing: border-box;
  }
body {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    background-color: white;
    margin: auto;
    padding: 0% 0% 5% 0%;
    color: hsl(230, 29%, 20%)
}
h1, h2, h3 {
    font-family: "Barlow Condensed", sans-serif;
    text-transform: uppercase;
}
h1 {
    font-weight: 700;
    font-size: 4.0rem;
    padding: 3% 0;
}
h2 {
    font-weight: 400;
    font-size: 1.2rem;
    color: hsl(231, 7%, 65%);
    letter-spacing: 5px;
}
a:hover {
    text-decoration: none;
}
/* Background */

.background {
    background-color: hsl(207, 33%, 95%);
    width: 900px;
    height: 415px;
    position: absolute;
    right: 0px;
    z-index: -1;
    border-bottom-left-radius: 60px;
} 
/* Navigation  */
.navbar {
    padding-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    padding-top: 3%;
}
.nav-item {
    padding: 0 18px;
}
.nav-link {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
#link {
    color: hsl(230, 29%, 20%) ;
} 
ul > li > a:hover {
    text-decoration: underline !important;
}
.spot {
    height: 5px;
    width: 5px;
    background-color: rgba(0,0,0,.5);
    border-radius: 50%;
    display: inline-block;
    margin-top: 21px;
}
#login:hover {
    color:hsl(230, 11%, 40%) !important;
}
/* Hamburger menu with animation */
.icon-bar {
	width: 22px; 
	height: 2px;
	background-color:hsl(230, 29%, 20%);
	display: block;
	transition: all 0.2s;
    margin-top: 4px
}
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
   
  .navbar-toggler .middle-bar {
    opacity: 0;
  }
   
  .navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
   
  .navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
  }
   
  .navbar-toggler.collapsed .middle-bar {
    opacity: 1;
  }
   
  .navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
  }
/* Main */
.computer {
    width: 100%;
}
.computer img {
    width: 100%;
}
.main {
    display: flex;
    padding-left: 10%;
}
.NewWrapper {
    color: white;
    background-color: hsl(230, 29%, 20%);
    border-radius: 30px;
    padding: 0 10px;
    letter-spacing: normal;

}
.ScheduleWrapper {
    color: white;
    letter-spacing: normal;
    background-color: hsl(0, 100%, 68%);
    padding: 1% 4%;
    border-radius: 5px;
}
.main p {
    margin-bottom: 7%;;
}
.text-wrapper {
    margin-top: 15%;
}

/* Footer */
footer {
    margin-top: 10%;
}
.attribution { 
    font-size: 11px; text-align: center;
}
.attribution a {
     color: hsl(228, 45%, 44%); 
}
